
<div class="container-fluid px-1 py-5 mx-auto">
  <div class="row d-flex justify-content-center">
      <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
          <div class="card">
            <form class="form-card" [formGroup]="consultationForm" (ngSubmit)="onSubmit()">
                <h1>Créer carnet de santé pour {{patient.nomP}} {{patient.prenomP}}</h1>
            <div class="row justify-content-between text-left">
                  <div class="row justify-content-between text-left">
                      <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3"> date<span class="text-danger"> *</span></label> <input type="date" id="date" name="date" formControlName="consultation.consultdate"  > </div>
                      <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">compte rendu de consultation<span class="text-danger"> *</span></label> <input type="text" id="lname" name="lname" placeholder="Enter your last name" formControlName="conclusion" > </div>
                  </div>
                  <div class="row justify-content-between text-left">
                      <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">annexe<span class="text-danger"> *</span></label> <input type="text" id="adresse" name="adresse" placeholder="" formControlName="annexe"> </div>
                  </div>

<div class="form-group">
  <button class="formbold-btn " type="submit">
    Register
  </button>
</div>
</div></form></div></div></div></div>