<!DOCTYPE html>
<html>
<head>
	<title>Ordonnance Médicale</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-EV6zIbtZhN+Z1z4N/v/M/cM9/5ytxa72F5w5MS5ADiLDCfOFmZrtzvIiR43O2QXJ/gY0Ero08HrpLlNxOmJ3w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
	<header class="header">
		<div style="display: flex; justify-content: space-between;">
			<h1 style="text-align: left">Dr Nesrine MACHAT EP. KHALFALLAH</h1>
			<h1 style="text-align: right">الدكتورة نسرين مشاط حرم خلف الله</h1> 
		</div>
	    <div style="display: flex; justify-content: space-between;">
			<h3 style="text-align: left">Spécialiste en gynécologie - obstétrique</h3>
			<h3 style="text-align: right">أخصائية أمراض النساء والتوليد</h3> 
		</div>
	</header>
	<main>
		<label for="drug">Médicament:</label>
		<input type="text" id="drug" [(ngModel)]="selectedDrug" (change)="onFilter(selectedDrug)">
		<ul *ngIf="filteredDrugs.length">
			<!--<li *ngFor="let drug of filteredDrugs | filter:selectedDrug">
				<a href="#" (click)="onSelect(drug)">{{drug.drugName}}</a>
			</li>-->
		</ul>
	</main>
	<footer class="footer">
		<p>عمارة العروس - الطابق 3 شارع الهادي شاكر ـ طريق السينما (امام مونوبري اكسبراس) 8000 نابل</p>
		<p>Av hedi chaker devant monoprix express ex touta Immeuble larous 3ème étage 8000 Nabeul Tunisie</p>
		<div>
			<i class="fas fa-phone"></i>
			<i class="fas fa-mobile-alt"></i>
		</div>
	</footer>
</body>
</html>
