<div mat-dialog-content>
    <form [formGroup]="drugForm" (ngSubmit)="addDrug()">
        <mat-form-field appearance="outline">
          <mat-label>Nom de médicament:</mat-label>
          <input formControlName="drugName"  matInput />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Dosage:</mat-label>
        <input formControlName="dosage" type="number" matInput />
    </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Description:</mat-label>
        <textarea formControlName="description" matInput >
          </textarea>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Effets secondaires:</mat-label>
      <textarea formControlName="effetSec" matInput >
      </textarea>
  </mat-form-field> 
  </form>
  <div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="addDrug()" routerLink="/admin/listM" >Save</button>
  
  </div>
  
  </div>
    
  