<body>
      <!-- Topbar Start -->
      <div class="container-fluid py-2 border-bottom d-none d-lg-block">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-lg-start mb-2 mb-lg-0">
                    <div class="d-inline-flex align-items-center">
                        <a class="text-decoration-none text-body pe-3" href=""><i class="bi bi-telephone me-2"></i>+216 36 247 620 / +216 97 550 587 </a>
                        <span class="text-body">|</span>
                        <a class="text-decoration-none text-body px-3" href=""><i class="bi bi-envelope me-2"></i>machatnesrine081178@gmail.com</a>
                    </div>
                </div>
                <div class="col-md-6 text-center text-lg-end">
                    <div class="d-inline-flex align-items-center">
                        <a class="text-body px-2" href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="text-body px-2" href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="text-body px-2" href="">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a class="text-body px-2" href="">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a class="text-body ps-2" href="">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid sticky-top bg-white shadow-sm">
        <div class="container">
            <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0">
                <a href="/home" class="navbar-brand">
                    <h1 class="m-0 text-uppercase "><i class="fa fa-clinic-medical me-2 ml-5"></i>DR. Nessrine machat</h1>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto py-0">
                        <a href="/home" class="nav-item nav-link active">Accueil</a>
                        <a href="/about" class="nav-item nav-link">A Propos</a>
                        <a href="/service" class="nav-item nav-link">Services</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                            <div class="dropdown-menu m-0">
                                <a href="blog" class="dropdown-item">Blog Grid</a>
                                <a href="detail" class="dropdown-item">Blog Detail</a>
                                <a href="team" class="dropdown-item">The Team</a>
                                <a href="testimonial" class="dropdown-item">Testimonial</a>
                                <a href="/appointment" class="dropdown-item">Appointment</a>
                                <a href="search" class="dropdown-item">Search</a>
                            </div>
                        </div>
                        <a href="/contact" class="nav-item nav-link">Contact</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->


     <!-- About Start -->
     <div class="container-fluid py-5">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded" src="assets/img/about.jpg" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="mb-4">
                        <h5 class="d-inline-block  text-uppercase border-bottom border-5 text-black">About Us</h5>
                        <h1 class="display-4">A propos de nous</h1>
                    </div>
                    <p>Bienvenue sur mon site dédiée à la gynécologie ! Je suis Nessrine machat, votre gynécologue qualifiée avec [nombre d'années] d'expérience dans le domaine de la santé des femmes. Mon objectif principal est de fournir des soins de qualité, bienveillants et holistiques aux femmes de tous âges, en veillant à leur santé reproductive et à leur bien-être global.</p>
                    <p>Je suis passionnée par l'amélioration de la santé des femmes et je m'engage à offrir un environnement chaleureux et confortable où les femmes peuvent poser toutes leurs questions et recevoir des soins personnalisés en fonction de leurs besoins spécifiques. </p>
                    <p> Que vous ayez besoin d'un dépistage du cancer du col de l'utérus, d'un suivi de grossesse, de conseils en matière de contraception, ou de toute autre préoccupation liée à la gynécologie, vous pouvez compter sur moi pour vous offrir des soins de qualité et respectueux. Je suis impatiente de vous rencontrer et de vous accompagner dans votre parcours de santé.</p>
                    <div class="row g-3 pt-3">
                        <div class="col-sm-3 col-6">
                            <div class="bg-light text-center rounded-circle py-4">
                                <i class="fa fa-3x fa-user-md  mb-3"></i>
                                <h6 class="mb-0 text-black">médecin <small class="d-block text-black ">qualifié</small></h6>
                            </div>
                        </div>
                        <div class="col-sm-3 col-6">
                            <div class="bg-light text-center rounded-circle py-4">
                                <i class="fa fa-3x fa-procedures  mb-3"></i>
                                <h6 class="mb-0 text-black">Services<small class="d-block text-black">D'urgence</small></h6>
                            </div>
                        </div>
                        <div class="col-sm-3 col-6">
                            <div class="bg-light text-center rounded-circle py-4">
                                <i class="fa fa-3x fa-microscope  mb-3"></i>
                                <h6 class="mb-0 text-black">Analyses<small class="d-block text-black">précises</small></h6>
                            </div>
                        </div>
                        <div class="col-sm-3 col-6">
                            <div class="bg-light text-center rounded-circle py-4">
                                <i class="fa fa-3x fa-heartbeat mb-3" aria-hidden="true"></i>
                                <h6 class="mb-0 text-black">Free<small class="d-block text-black">Ambulance</small></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
    



    <!-- Footer Start -->
<app-footer></app-footer>
    <!-- Footer End -->

<!-- Back to Top -->
<a href="/about" class="btn btn-lg b ma btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    


</body>
